<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/c6a00496-31f9-453a-b6d5-6f9118f34c80/resourcegroups/XammyBD/providers/Microsoft.ContainerRegistry/registries/ApiFormularios20200721213058</ResourceId>
    <ResourceName>ApiFormularios20200721213058</ResourceName>
    <ResourceGroup>XammyBD</ResourceGroup>
    <Subscription>Azure para estudiantes</Subscription>
    <RegistryUrl>https://apiformularios20200721213058.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
  </PropertyGroup>
</Project>